<div class="dark-block"></div>
<div class="menu-nav">
	<div class="menus block_nav">
		<div class="block-star">
			<img class="menu-nav-photo_user" src="{{response.user.photo}}" alt="">
		</div>
		<div class="account">
			<div class="block-star">
				<p class="account-star">{{response.user.name}}</p>
				<p class="account-mail">{{response.user.email}}</p>	
			</div>										
		</div>
	</div>
	<div class="block_nav">
		<ul class="menu-nav-link">
			<li><a href="#about">About&nbsp;me</a></li>
			<li><a href="#quanted">Relationships</a></li>
			<li><a href="#requirements">Requirements</a></li>
			<li><a href="#our_users">Users</a></li>
			<li><a href="#registration">Sign&nbsp;Up</a></li>
			<li><a href="#registration">Sign&nbsp;Out</a></li>
		</ul>
	</div>
</div>