<section class="quanted" id="quanted">
	<div class="container">
		<h2 class="quanted_title">{{quanted_title}}</h2>
		<div class="quanted-block">
			<div class="quanted_img">
				<img src="assets/imgs/man-mobile.svg" alt="man mobile">
			</div>
			<div class="quanted_content">	
				<h3>I am cool frontend developer</h3>				
				<p class="quanted_content-direction">When real users have a slow experience on mobile, they're much less likely to find what they are looking for or purchase from you in the future. For many sites this equates to a huge missed opportunity, especially when more than half of visits are abandoned if a mobile page takes over 3 seconds to load. <br><br>
				Last week, Google Search and Ads teams announced two new speed initiatives to help improve user-experience on the web. </p>
				<a href="#registration">Sign Up</a>
			</div>
		</div>
	</div>
</section>