<footer class="footer">
	<div class="container">
		<div class="footer_menu">
			<div class="row justify-content-between align-items-center">
				<div class="col-lg-3 col-md-3 col-sm-3 col-12">
					<div class="logo">
						<img src="assets/imgs/logo/logo-footer.svg" alt="abz">
					</div>
				</div>
				<div class="col-lg-auto col-md col-sm-9 col-12">
					<ul class="nav_menu">
						<li><a href="#about">About&nbsp;me </a></li>
						<li><a href="#quanted">Relationships </a></li>
						<li><a href="#requirements">Requirements  </a></li>
						<li><a href="#our_users">Users  </a></li>
						<li><a href="#registration">Sign&nbsp;Up </a></li>
					</ul>
				</div>
			</div>
		</div>
		<hr>
		<div class="contact">
			<div class="contact-blocks">					
				<p>
					<img class="contact-img" src="assets/imgs/icons/mail.svg" alt="">
					work.of.future@gmail.com
				</p>
			</div>
			<div class="contact-blocks">					
				<p>
					<img class="contact-img" src="assets/imgs/icons/phone.svg" alt="">
					+38 (050) 789 24 98 
				</p>
			</div>
			<div class="contact-blocks">					
				<p>
					<img class="contact-img" src="assets/imgs/icons/cellphone.svg" alt="">
					+38 (095) 556 08 45
				</p>
			</div>
		</div>
		<div class="footer-nav-menu">
			<div class="row justify-content-between">
				<div class="col-lg col-md-3 col-sm-3 col-pad">
					<ul>
						<li><a href="#">News</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="#">Partners</a></li>
						<li><a href="#">Shop</a></li>
					</ul>
				</div>
				<div class="col-lg col-md-3 col-sm-3 col-pad">
					<ul>
						<li><a href="#">Overview</a></li>
						<li><a href="#">Design</a></li>
						<li><a href="#">Code</a></li>
						<li><a href="#">Collaborate</a></li>
					</ul>
				</div>
				<div class="col-lg col-md-3 col-sm-3 col-pad">
					<ul>
						<li><a href="#">Tutorials</a></li>
						<li><a href="#">Resources</a></li>
						<li><a href="#">Guides</a></li>
						<li><a href="#">Examples</a></li>
					</ul>
				</div>
				<div class="col-lg col-md-3 col-sm-3 col-pad">
					<ul>
						<li><a href="#">FAQ</a></li>
						<li><a href="#">Terms</a></li>
						<li><a href="#">Conditions</a></li>
						<li><a href="#">Help</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-social-link clearfix">
			<div class="copy">
				<small>&copy; abz.agency specially for the test task</small>
			</div>
			<div class="social-icons">
				<a href="#">
					<img src="assets/imgs/icons/facebook.svg" alt="fb"></a>
				<a href="#">
					<img src="assets/imgs/icons/linkedin.svg" alt="in"></a>
				<a href="#">
					<img src="assets/imgs/icons/instagram.svg" alt="instagram"></a>
				<a href="#">
					<img src="assets/imgs/icons/twitter.svg" alt="tw"></a>
				<a href="#">
					<img src="assets/imgs/icons/pinterest.svg" alt="pr"></a>
			</div>
		</div>
	</div>
</footer>