<section class="sign_up" id="sign_up">
	<div class="container">
		<div class="sign_up-block">
			<h1 class="title">{{title}}</h1>
			<p class="sign_up-block-direction">We kindly remind you that your test assignment should 
			be submitted as a link to github/bitbucket repository. Please be patient, we consider and respond to every 	application that meets minimum requirements. We look forward to your submission. Good luck!</p>
			<a href="#registration" class="btn btn-primary">Sign Up</a>
		</div>
	</div>
</section>